Repository JferLao/Tiga: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint  --fix", "prettier --write", "git add "],
  "*.md": ["prettier --write", "git add "],
  "*.{scss,less,styl,html}": ["stylelint --fix", "prettier --write", "git add "]
}

fix: 修复bug
  packages/Tiga-docs/pages/docs.jsx
Due: eslint --fix, prettier --write

fix: 修复bug
  packages/Tiga-docs/assets/style/index.scss
Due: prettier --write, stylelint --fix

fix: 修复类型问题
  packages/Tiga-docs/components/sidebar/index.jsx
  packages/Tiga-docs/package.json
  packages/Tiga-docs/pages/docs.jsx
  packages/Tiga-docs/pages/index.jsx
  packages/Tiga-docs/view/Button/index.jsx
Due: eslint --fix, prettier --write

feat: 回滚部分代码
  packages/Tiga-docs/app.jsx
  packages/Tiga-docs/assets/style/docs.scss
  packages/Tiga-docs/package.json
  packages/Tiga-docs/pages/docs.jsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: 暂时移除stylelint规则
  .lintstagedrc.json
Due: none
